<!-- <mat-sidenav-container style="align-items: space-between">
    <mat-sidenav mode="side" opened class="{{theme.getColor()}}" disableClose="true" fxLyaout="column ">

        <div id="fadeshow1" class="m-b-logo">
            <picture>
                <img class="logo" src="assets/images/sidebar/image-sidebar.png">
            </picture>
        </div>

        <div class="containerFlex">
            <div fxLayout="column" fxLayoutAlign="start center "
                style="justify-content: flex-start; align-items: flex-start;">

                <button mat-button class="menu-button" routerLink="/home/dashboard" routerLinkActive=" active">
                    <mat-icon>dashboard</mat-icon>
                    <span>Dashboard</span>
                </button>

                <button mat-button class="menu-button" routerLink="/users/users-table" routerLinkActive="active">
                    <mat-icon>person</mat-icon>
                    <span>Utenti</span>
                </button>

                <button mat-button class="menu-button" routerLink="/projects/projects-table" routerLinkActive="active">
                    <mat-icon>class</mat-icon>
                    <span>Progetti</span>
                </button>

                <button mat-button class="menu-button" routerLink="/profile/user-profile" routerLinkActive="active">
                    <mat-icon>manage_accounts</mat-icon>
                    <span>Profilo</span>
                </button>

                <button mat-button class="menu-button" routerLink="register/table-register" routerLinkActive="active">
                    <mat-icon>bookmark</mat-icon>
                    <span>Registro</span>
                </button>

                <button mat-button class="menu-button" routerLink="calendar/datepicker" routerLinkActive="active">
                    <mat-icon>calendar_today</mat-icon>
                    <span>Calendario</span>
                </button>

                <button mat-button class="menu-button" routerLink="/settings/gear" routerLinkActive="active">
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>
            </div>
        </div>

        <div class="containerFlexLogout">
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayoutAlign="start start " fxFill
                style="justify-content: flex-start; align-items: flex-start;">
                <mat-list-item>
                    <button mat-button class="menu-button" (click)="logOut()">
                        <mat-icon>logout</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-list-item>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container">
            <router-outlet></router-outlet>
            <div *ngIf="spinner.showSpinner">
                <mat-progress-spinner id="loading" color="primary" value="50" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container> -->

<mat-sidenav-container class="h-screen w-screen">
    <mat-sidenav class="shadow border-0" fixedInViewport mode="side" opened class="{{theme.getColor()}}"
        disableClose="true">

        <mat-nav-list>
            <picture id="fadeshow1" class="m-b-logo">
                <img class="logo" src="assets/images/sidebar/image-sidebar.png">
            </picture>
        </mat-nav-list>

        <mat-nav-list class="containerFlex">
            <button mat-button class="menu-button" routerLink="/home/dashboard" routerLinkActive=" active">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>

            <button mat-button class="menu-button" routerLink="/users/users-table" routerLinkActive="active">
                <mat-icon>person</mat-icon>
                <span>Utenti</span>
            </button>

            <button mat-button class="menu-button" routerLink="/projects/projects-table" routerLinkActive="active">
                <mat-icon>class</mat-icon>
                <span>Progetti</span>
            </button>

            <button mat-button class="menu-button" routerLink="/profile/user-profile" routerLinkActive="active">
                <mat-icon>manage_accounts</mat-icon>
                <span>Profilo</span>
            </button>

            <button mat-button class="menu-button" routerLink="register/table-register" routerLinkActive="active">
                <mat-icon>bookmark</mat-icon>
                <span>Registro</span>
            </button>

            <button mat-button class="menu-button" routerLink="calendar/datepicker" routerLinkActive="active">
                <mat-icon>calendar_today</mat-icon>
                <span>Calendario</span>
            </button>

            <button mat-button class="menu-button" routerLink="/settings/gear" routerLinkActive="active">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
        </mat-nav-list>


        <mat-nav-list class="absolute">
            <mat-divider></mat-divider>
            <button mat-button class="menu-button " (click)="logOut()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container">
            <router-outlet></router-outlet>
            <div *ngIf="spinner.showSpinner">
                <mat-progress-spinner id="loading" color="primary" value="50" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>