@media only screen and (max-width: 575px) {
    #fadeshow1 {
        display: none;
    }
}

mat-drawer-container {
    //router-outlet
    height: 100%;

    mat-drawer {

        //sidebar
        .logo {
            position: initial;
            width: 158px;
            height: 50px;
            left: 17px;
            top: 36px;
            margin-top: 10%;
            margin-left: 10%;
            margin-bottom: 80px;
        }

        mat-divider {
            margin-top: 290%;
        }

        @media screen and(max-width:575px) {
            width: 42px;

        }

        @media screen and(max-width:2000px) {
            mat-divider {
                margin-top: 55vh;
            }
        }

        .layout {
            margin-top: 4px;
            flex-direction: column;
            padding: 0px;
            width: 100%;
            position: initial;
        }

        height: 100%;
        width: 198px;
        background-color: #163C70;
        color: white;

    }
}

.active {
    align-items: center;
    width: 100%;
    font-weight: 900 !important;
    color: orange !important;
    background-color: whitesmoke !important;
}