@media only screen and (max-width: 575px) {
    #fadeshow1 {
        display: none;
    }
}



mat-sidenav-container {
    //router-outlet
    height: 100%;

    .container {
        padding: 16px;
    }

    mat-sidenav {


        overflow-x: hidden;
        overflow-y: hidden;

        button {
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        mat-icon {
            padding: 2px;
            margin-right: 5%;
        }

        @media screen and(max-width:575px) {
            width: 46px;
        }

        mat-divider {
            width: 98, 5%;
            opacity: 0.7;
            border: 0.5px solid #FFFFFF;
        }

        .containerFlex {
            margin-top: 100px;
        }

        .mat-divider-m-t {
            margin-top: 180%;
        }

        .containerFlexLogout {
            margin-top: 200%;
        }

        .logo {
            position: sticky;
            height: 50px;
            width: 158px;
            left: 17px;
            top: 36px;
        }

        height: 100%;
        width: 196.7px;

        color: white;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    }
}



.active {
    width: 100%;
    font-weight: 900 !important;
    color: orange !important;
    background-color: whitesmoke !important;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}