@media only screen and (max-width: 575px) {
    #fadeshow1 {
        display: none;
    }
}

mat-drawer-container {
    //router-outlet
    width: 100%;
    height: 100%;

    mat-drawer {
        position: fixed;
        height: 100%;
        width: 196.7px;

        color: white;

        background: linear-gradient(0deg, #163C70, #163C70);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

        

        button {
            width: 100%;
            display: flex;
            justify-content: start;
        }

        mat-icon {
            padding: 2px;
            margin-right: 5%;
        }

        @media screen and(max-width:575px) {
            width: 46px;
        }

        .logo {
            position: sticky;
            width: 158px;
            height: 50px;
            left: 17px;
            top: 36px;
            margin-top: 4%;
            margin-bottom: 50%;
        }

        .layout {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 25%;
            margin-bottom: 4%;
        }

        .layout-logout {
            position: initial;
            margin-top: 100%;

            mat-divider {
                width: 99%;
                opacity: 0.7;
                border: 0.5px solid #FFFFFF;
                margin-top: 20%;
            }
        }
    }

    mat-drawer-content {
        height: 100%;
<<<<<<< HEAD
        width: 196.7px;

        color: white;

       
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

=======
        padding: 10px;
>>>>>>> 539277c29b5a99e0ad9b3d766426875b09c5afc6
    }
}

.active {
    width: 100%;
    font-weight: 900 !important;
    color: orange !important;
    background-color: whitesmoke !important;
}