<mat-drawer-container>
    <mat-drawer mode="side" opened class="{{theme.getColor()}}">

        <div id="fadeshow1">
            <picture>
                <img class="logo" src="assets/images/sidebar/image-sidebar.png" alt="logo_synclab">
            </picture>
        </div>

        <div style="display:flexbox; justify-content:space-between">
            <div class="layout">
                <button mat-button class="menu-button" routerLink="/home/dashboard" routerLinkActive="active">
                    <mat-icon>dashboard</mat-icon>
                    <span>Dashboard</span>
                </button>
            </div>

            <div class="layout">

                <button mat-button class="menu-button" routerLink="/users/users-table" routerLinkActive="active">
                    <mat-icon>person</mat-icon>
                    <span>Utenti</span>
                </button>
            </div>
            <div class="layout">
                <button mat-button class="menu-button" routerLink="/projects/projects-table" routerLinkActive="active">
                    <mat-icon>class</mat-icon>
                    <span>Progetti</span>
                </button>
            </div>

            <div class="layout">
                <button mat-button class="menu-button" routerLink="/profile/user-profile" routerLinkActive="active">
                    <mat-icon>manage_accounts</mat-icon>
                    <span>Profilo</span>
                </button>
            </div>

            <div class="layout">
                <button mat-button class="menu-button" routerLink="/register/table-register" routerLinkActive="active">
                    <mat-icon>bookmark</mat-icon>
                    <span>Registro</span>
                </button>
            </div>

            <div class="layout">
                <button mat-button class="menu-button" routerLink="/settings/gear" routerLinkActive="active">
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>
            </div>

        </div>

        <div class="layout-logout">
            <mat-divider></mat-divider>
            <button mat-button class="menu-button" (click)="logOut()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <div *ngIf="spinner.showSpinner">
                <mat-progress-spinner id="loading" color="primary" value="50" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>