<mat-dialog-content class="mat-typography">
  <tr>
    <td>
      <div class="e-date-time">
        <h2>
          <mat-icon>calendar_today</mat-icon>
          {{ calendarService.boh }}
        </h2>
      </div>
    </td>
  </tr>
  <form class="e-schedule-form" #f="ngForm">
    <mat-form-field appearance="outline">
      <input matInput type="text" required ngModel name="work" placeholder="inserisci ">

    </mat-form-field>
    <button mat-button mat-dialog-close color="primary" (click)="add(f)">Inserisci</button>
    <button mat-button [mat-dialog-close]="true" color="warn" cdkFocusInitial>Annulla</button>
  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">

</mat-dialog-actions>