#left-card {
    height: 500px;
}

#right-upper-card {
    height: 240px;
}

#right-bottom-card {
    height: 220px;
    margin-top: 8px
}

mat-card {
    .card-content {
        width: 10%;
        height: 50%;
    }
}