#left-card {
    height: 300%;
}

#right-upper-card {
    height: 150%;
}

#right-bottom-card {
    height: 132.5%;
    margin-top: 8px
}

mat-card {
    height: 100%;


    .card-content {
        width: 15%;
        height: 50%;

        .icon-avatar {
            font-size: 30px;

            position: relative;
        }

    }
}