<div fxLayout="row ">

    <div fxFlex="100%" fxFlex.sm="100" fxFlex.md="100" fxLayoutAlign="end end">
        <form #f="ngForm">

            <mat-form-field appearance="legacy">
                <mat-label>Smartworking pianificato:</mat-label>
                <input matInput [matDatepicker]="picker" #data [(ngModel)]="userService.dateSelected"
                    name="dateSeleceted">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </form>

    </div>

</div>

<div fxLayout="row " fxLayoutGap="15px grid" fxFlexFill>
    <div>
        <div class="example-boundary">
            <div>
                <div fxFlexFill fxLayout="row" style=" justify-content: space-between;" *ngIf="workspace">


                    <div *ngFor="let element of workspace.workstations | toFirstWorkstation:5 " class="cell">
                        <div *ngFor="let x of element" class="cell">
                            <app-card *ngIf="x.card_visibility " [idWorkStation]="x.id" customCls=".example-boundary">

                            </app-card>
                            <app-blank *ngIf="x.card_visibility  ? false:true"> </app-blank>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="exampleTwo-boundary">
            <div fxLayout="column " fxFlexFill>
                <div fxFlexFill fxLayout="row" style=" justify-content: space-between;" *ngIf="workspace">

                    <div *ngFor="let element of workspace.workstationsTwo | toSecondWorkstation:3 " class="cell">
                        <div *ngFor="let x of element" class="cell">
                            <app-card *ngIf="x.card_visibility" customCls=".example-boundary" [idWorkStation]="x.id">
                            </app-card>
                            <app-blank *ngIf="x.card_visibility  ? false:true"> </app-blank>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="exampleThree-boundary">
            <div fxFlexFill fxLayout="row" style=" justify-content: space-between;" *ngIf="workspace">

                <div *ngFor="let element of workspace.workstationsThree | toThirdWorkstation:2 " class="cell">
                    <div *ngFor="let x of element" class="cell">
                        <app-card *ngIf="x.card_visibility" customCls=".example-boundary" [idWorkStation]="x.id">
                        </app-card>
                        <app-blank *ngIf="x.card_visibility  ? false:true"> </app-blank>
                    </div>
                </div>

            </div>
        </div>
    </div>