mat-card {
    height: 100%;


    mat-icon {
        font-size: 40px;

        color: #FDBB11;
        position: relative;

        right: 5px;
    }

    mat-card-content {
        position: relative;

        font-size: 15px;
        left: 1px;
    }

    hr {
        position: absolute;
        width: 100%;
        height: 15px;
        left: -1px;
        top: 126px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: aqua;
        border: 1px solid #ccc;

        
    }


}



.example-boundary {
    width: 800px;
    height: 810px;
    max-width: 100%;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.exampleTwo-boundary {
    width: 800px;
    height: 470px;
    max-width: 100%;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}

.exampleThree-boundary {
    width: 800px;
    height: 325px;
    margin-top: 2%;
    max-width: 100%;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.cell {
    width: 150px;
    height: 160px;
}