<div fxLayout="row ">
    <div class="override-font-size" fxFlex="60" fxFlex.sm="40" fxFlex.md="50" fxLayoutAlign="start">
        <span><strong>Benvenuto {{showName}}</strong></span>
    </div>

    <div class="" fxFlex="40" fxFlex.sm="60" fxFlex.md="50" fxLayoutAlign="end end">
        <span>Smart working pianificato:
            <mat-form-field appearance="fill">
                <mat-label>Scegli una data</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </span>

    </div>
</div>

<div class="top">
    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlexFill>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <div class="example-boundary">
                <div fxLayout="column " fxFlexFill>

                    <div fxFlex="25%" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="5px">
                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <button mat-icon-button>
                                        <mat-icon class="icon" (click)="openEdit()">edit_note </mat-icon>
                                    </button>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        {{userService.userSelected?.name}}
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>
                    </div>

                    <div fxFlex="25%" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">

                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                    </div>

                    <div fxFlex="25%" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                    </div>

                    <div fxFlex="25%" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                    </div>

                </div>
            </div>
        </div>

        <div fxFlex="50%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <div class="exampleTwo-boundary">
                <div fxLayout="column " fxFlexFill>
                    <div fxFlex="50%" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="5px">
                        <mat-card class="example-box" cdkDragBoundary=".exampleTwo-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".exampleTwo-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".exampleTwo-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                    </div>

                    <div fxFlex="50%" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="5px">
                        <mat-card class="example-box" cdkDragBoundary=".exampleTwo-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".exampleTwo-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".exampleTwo-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                    </div>
                </div>
            </div>

            <div class="exampleThree-boundary">
                <div fxFlex="100%" fxFlexFill fxLayout="column">


                    <div fxFlex="50%" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="5px">
                        <mat-card class="example-box" cdkDragBoundary=".exampleThree-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".exampleThree-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".exampleThree-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                    </div>

                    <div fxFlex="50%" fxLayoutAlign="space-between" fxLayoutGap="5px">
                        <mat-card class="example-box" cdkDragBoundary=".exampleThree-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                        <mat-card class="example-box" cdkDragBoundary=".exampleThree-boundary" cdkDrag>
                            <div fxLayout="column" fxFlexFill>
                                <div fxLayoutAlign="space-between">
                                    <mat-icon class="icon">edit_note</mat-icon>
                                </div>
                                <div fxLayout="row" fxFlex="40%" fxLayoutAlign="center">
                                    <div fxFlex="60%">
                                        <mat-icon class="icon">account_circle_full</mat-icon>
                                    </div>
                                </div>

                                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
                                    <mat-card-content>
                                        free
                                    </mat-card-content>
                                </div>
                                <div fxFlex="20%" fxLayout="row">
                                    <hr>
                                </div>
                            </div>
                        </mat-card>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>