<div class="container d-flex justify-content-center">
    <h1>Benvenuto {{showName}}</h1>
</div>
<!---
<div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlexFill>
    <div fxLayout="column">
        <div fxFlex="100%">
            <mat-card>pino</mat-card>
        </div>

    </div>
    <div fxLayout="column" fxLayoutGap="16px grid">
        <div fxFlex="50%">
            <mat-card>mauro</mat-card>
        </div>
        <div fxFlex="50%">
            <mat-card>mauro</mat-card>
        </div>
    </div>

</div>
-->

<div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlexFill>
    <div fxFlex="50%">
        <mat-card style="height:500px;">pino</mat-card>
    </div>

    <div fxFlex="50%">
        <mat-card style="height: 230px;">mauro</mat-card>
        <mat-card style="height: 230px; margin-top: 1%;">mauro</mat-card>
    </div>

</div>