<mat-card class="example-box" cdkDragBoundary="{{customCls}}" cdkDrag cdkDragDisabled fxLayoutAlign="center center">
    <form #f="ngForm">
        <div fxLayout="column">

            <div *ngIf="authService.admin" class="margin">
                <button mat-icon-button>
                    <mat-icon class="icon" (click)="openEdit()">edit_note</mat-icon>
                </button>
            </div>



            <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                <div>
                    <mat-icon class="icon">account_circle_full</mat-icon>
                </div>
            </div>

            <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                <mat-card-content>
                    <div *ngIf="!user">
                        <span>Free</span>
                    </div>

                    <div *ngIf="user">
                        <span>{{user?.name}} {{user?.surname}} </span>
                        <br>
                        <span><strong>{{user?.role}}</strong></span>
                    </div>
                </mat-card-content>
            </div>

            <div fxFlex="20%" fxLayout="row">
                <hr *ngIf="!user">
                <hr *ngIf="user" class="active">
            </div>

        </div>
    </form>
</mat-card>