.addBotton {
    background-color: #163c70;
    color: white
}

.addBotton:hover {
    background-color: #ffae00;
    color: black
}

table {
    width: 100%;
}

button {
    margin-bottom: 1%;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}