<div fxLayout="column">

    <div fxFlexFill fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayout.md="row " fxLayoutAlign="end ">
        <button mat-raised-button class="addBotton" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <!-- <div fxFlexFill fxLayout="row" fxLayout.sm="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="start start">
        <div fxFlex="20%" fxFlex.md="30%" fxFlex.xs="45%" fxFlex.sm="45%">
            <form #form="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input type="date">
                </mat-form-field>
            </form>
        </div>

        <div fxFlex="20%" fxFlex.md="30%" fxFlex.xs="45%" fxFlex.sm="45%">
            <form #formMonth="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Search mounth</mat-label>
                    <input matInput type="month" #month (keypress)="searchMonth($event)">
                </mat-form-field>
            </form>
        </div>

        <div fxFlex="50%" fxFlex.md="10%" fxFlex.xs="10%" fxFlex.sm="10%">
            <button (click)="refresh()" mat-raised-button type="reset" class="reset button">Reset</button>
        </div>

    </div> -->


    <!-- <div fxLayout="row" fxLayoutAlign="center start">
        <div fxFlexFill fxFlex="70%">
            <button mat-raised-button class="buttonSearch" (click)="applyFilter($event)">Search</button>
        </div>
    </div> -->

    <form #form="ngForm">
        <div fxFlexFill fxLayout="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
            fxLayoutAlign="start start">

            <div fxFlexFill fxFlex="17%" fxFlex.md="35vh">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input matInput type="date" name="search" #search ngModel [disabled]="!flag1"
                        (click)="test1(month)">
                </mat-form-field>
            </div>


            <div fxFlexFill fxFlex="17%" fxFlex.md="35vh">
                <mat-form-field appearance="fill">
                    <mat-label>Search month</mat-label>
                    <input matInput type="number" name="month" #month ngModel [disabled]="!flag2"
                        (click)="test2(search)">
                </mat-form-field>
            </div>


            <div fxFlexFill fxFlex="16%" fxFlex.md="50%">
                <button mat-raised-button class="buttonSearch" (click)="applyFilter(search,month)">Search</button>
                <button (click)="refresh(form)" mat-raised-button type="reset" class="reset button"
                    title="Resetta campi di input e tabella">Reset</button>
            </div>

        </div>
    </form>











    <table mat-table [dataSource]="registerService.dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="giorno">
            <th mat-header-cell *matHeaderCellDef> Giorno </th>
            <td mat-cell *matCellDef="let element"> {{element.date|date:'EEEE dd/MM/yyyy'}} </td>
            <!-- <td mat-cell *matCellDef="let element"> {{element.day}}/{{element.month}}/{{element.year}} </td>-->
        </ng-container>

        <ng-container matColumnDef="inizio">
            <th mat-header-cell *matHeaderCellDef> Inizio </th>
            <td mat-cell *matCellDef="let element"> {{element.start}} </td>
        </ng-container>

        <ng-container matColumnDef="fine">
            <th mat-header-cell *matHeaderCellDef> Fine </th>
            <td mat-cell *matCellDef="let element"> {{element.end}} </td>
        </ng-container>

        <ng-container matColumnDef="permesso">
            <th mat-header-cell *matHeaderCellDef> Permesso </th>
            <td mat-cell *matCellDef="let element"> {{element.permit}} </td>
        </ng-container>

        <ng-container matColumnDef="azioni">
            <th mat-header-cell *matHeaderCellDef> Azioni </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="openDelete(element)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="openEdit(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDetail(element)">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[ 15, 25, 100]" aria-label="Select page of register"></mat-paginator>

</div>