.addBotton {
    background-color: #163c70;
    color: white
}

.addBotton:hover {
    background-color: #ffae00;
    color: black
}

.button {
    @media screen and(max-width:960px) {
        bottom: 2px
    }

    bottom: -10px
}

.buttonSearch {
    @media screen and(max-width:960px) {
        bottom: 2px
    }

    bottom: -10px;
    background-color: #163c70;
    color: white;
}

.buttonSearch:hover {
    background-color: #ffae00;
    color: black
}





.reset:hover {
    background-color: yellow;
}