.check {
    color: green;
}

.clear {
    color: red;
}

.state {
    width: 3vh;
    height: 3vh;
}

.buttonSearch {
    @media screen and(max-width:960px) {
        bottom: 2px
    }

    bottom: -10px;
    background-color: #163c70;
    color: white;
}

.buttonSearch:hover {
    background-color: #ffae00;
    color: black
}

.button {
    @media screen and(max-width:960px) {
        bottom: 2px
    }

    bottom: -10px
}

.reset:hover {
    background-color: yellow;
}

.state {
    width: 3vh;
    height: 3vh;
    border-radius: 2vh;
}

.confirmed {
    background-color: green;
    border-radius: 2vh;
    width: 3vh;
    height: 3vh;
}

.rifiuted {
    background-color: red;
    border-radius: 2vh;
    width: 3vh;
    height: 3vh;
}

.attend {
    background-color: yellow;
    border-radius: 2vh;
    width: 3vh;
    height: 3vh;
}