.check {
    color: green;
}

.clear {
    color: red;
}

.red {
    background-color: red;
    width: 3vh;
    height: 3vh;
}

.green {
    background-color: green;
    width: 3vh;
    height: 3vh;
}

.yellow {
    background-color: yellow;
    width: 3vh;
    height: 3vh;
}