<!-- <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
  <mat-card class="demo-inline-calendar-card">
    <h4>Smart working pianificato:</h4>
    <mat-calendar [(selected)]="calendarService.app" [(selected)]="calendarService.selected"
      (click)="openDialog($event)">

    </mat-calendar>
  </mat-card>
  <p>Selected date: {{calendarService.selected}}</p>
  <div>
    <p>Selected date: {{calendarService.calendar.date}}</p>
    <p>Selected app: {{calendarService.calendar.work}}</p>
  </div>
</div> -->
<div class="container">
  <full-calendar [options]="calendarService.calendarOptions">

  </full-calendar>
</div>