<body [ngClass]="{'blue' : flag, ' orange' : flag2 , 'black':flag3}" >
<app-card titolo="Seleziona il tuo tema" >
    <div class="container" >

        <form name="color" method="post">
            <div class="blue">
                <input checked type="radio" name="color" value="radio" (click)="changeColor(1)">
                <span> Blu</span>
            </div>

            <div class="orange">
                <input type="radio" name="color" value="radio" (click)="changeColor(2)">
                <span> Orangered scuro</span>
            </div>

            <div class="black">
                <input type="radio" name="color" value="radio" (click)="changeColor(3)">
                <span> Scuro</span>
            </div>
        </form>
    </div>

</app-card>
</body>