<app-card titolo="Seleziona il tuo tema">
    <div class="container">

        <form name="color" method="post">
            <div>
                <input checked type="radio" name="color" value="radio">
                <span>Blu</span>
            </div>

            <div>
                <input type="radio" name="color" value="radio">
                <span>Orangered scuro</span>
            </div>

            <div>
                <input type="radio" name="color" value="radio">
                <span>Scuro</span>
            </div>
        </form>
    </div>

</app-card>