<div class="example-container" fxFlexFill fxLayoutAlign="center center">

  <form #f="ngForm" fxLayout="column" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="5px"
    (NgSubmit)="login(f)">

    <div id="fadeshow1">
      <picture>
        <img class="logo" src="assets/images/login/image.jpg">
      </picture>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <button disabled mat-icon-button matSuffix>
        <mat-icon color="primary">email</mat-icon>
      </button>
      <input matInput placeholder="pat@example.com" required [(ngModel)]="email" name="email" >

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="password" name="password" >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <a href="/forgot-psw">Password dimenticata?</a>


    <div *ngIf="getLoginError()" class="error-message">{{ getLoginError() }}</div>

    <button mat-raised-button color="primary" (click)="login(f); f.reset();" [disabled]="f.invalid">LOGIN</button>
    <!-- reset resetta il campo after click
    disabled f invalid, non fa cliccare finchè il form è considerato invalido -->

  </form>

</div>
