
    <div class="example-container" fxLayout="column" fxFlexFill fxLayoutAlign="center center"  fxLayoutGap="20px">
        <div id="fadeshow1">
            <picture>
                <img class="logo" src="assets/images/login/image.jpg" >
            </picture>
        </div>
        
      <mat-form-field appearance="fill" fxFlex.md="100%">
        <mat-label>Enter your email</mat-label>
        <i mat-icon-button matSuffix > <mat-icon>email</mat-icon></i>
        <input matInput placeholder="pat@example.com" required >
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    
    
      <mat-form-field appearance="fill" >
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>  
      </mat-form-field>
      <button mat-raised-button  color="primary" style="width: 18%;">LOGIN</button>
   
    </div>
          
    
    
<p>sign-in works!</p>
<button><a href="/forgot-psw">forgot-psw</a></button>
