<h2 mat-dialog-title>Add Project</h2>
<form #f="ngForm">
    <div mat-dialog-container>

        <mat-form-field appearance="outline">
            <mat-label>Progetto</mat-label>
            <input matInput type="text" required ngModel name="name" placeholder="Progetto">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Descrizione</mat-label>
            <input matInput type="text" required ngModel name="description" placeholder="Descrizione">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Commessa</mat-label>
            <input matInput type="text" required ngModel name="order" placeholder="Commessa">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Annulla</button>
        <button id="button-save" mat-button cdkFocusInitial (click)="add(f)" [mat-dialog-close]="data"
            [disabled]="f.invalid" class="addBotton">
            <mat-icon>save</mat-icon> Inserisci
        </button>
    </div>
</form>