<form class="example-form" #f="ngForm">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>User</mat-label>
        <input matInput [matAutocomplete]="auto" [(ngModel)]="userSelected" (ngModelChange)="inputChange($event)"
            name="userSelected">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let user of filteredUsers" [value]="user">
                <img class="example-option-img" aria-hidden height="25">
                <span>{{user.name}} </span> <span>{{user.surname}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Data</mat-label>
        <input matInput type="text" [ngModel]="userService.dateSelected" name="date_workstation" #data disabled>
    </mat-form-field>

    <br>

    <div mat-dialog-actions>
        <button id="button-save" mat-button cdkFocusInitial (click)="add(userSelected)" [mat-dialog-close]="data"
            [disabled]="f.invalid" class="addBotton">
            <mat-icon>save</mat-icon> Inserisci
        </button>

    </div>
</form>