<form class="example-form" #f="ngForm">

    <mat-form-field class="example-full-width" appearance="fill">


        <mat-label>User</mat-label>
        <input type="hidden" [(ngModel)]="workspaceService.id" name="id">
        <input type="hidden" [(ngModel)]="flag" name="card_visibility">
        <input matInput [matAutocomplete]=" auto" [(ngModel)]="workspaceService.workstationSelected.user"
            (ngModelChange)="inputChange($event)" name="user"
            placeholder="{{workspaceService.workstationSelected.user?.name}}">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let user of filteredUsers" [value]="user">
                <img class="example-option-img" aria-hidden height="25">
                <span>{{user?.name}} </span> <span>{{user?.surname}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Data</mat-label>
        <input matInput type="text" [ngModel]="userService.dateSelected | date:'dd/MM/YYYY'" name="date_workstation"
            #data disabled>
    </mat-form-field>

    <br>

    <div mat-dialog-actions>
        <button id="button-save" mat-button cdkFocusInitial (click)="edit(f)" [mat-dialog-close]="data"
            [disabled]="f.invalid" class="addBotton">
            <mat-icon>save</mat-icon> Save
        </button>
        <button id="button-save" mat-button cdkFocusInitial (click)="delete()" [mat-dialog-close]="data" class="delete">
            <mat-icon>delete</mat-icon> Delete
        </button>
    </div>
</form>